.search-item-block {
  pre {
    margin-bottom: 0px !important;
  }
}
.lightMarkdownRenderer {
  color: #000;
  pre {
    background-color: white; /* 背景颜色 */
    border-radius: 5px; /* 圆角 */
    padding: 10px; /* 内边距 */
    overflow: auto; /* 滚动条 */
  }

  code {
    font-family: 'Courier New', Courier, monospace; /* 字体 */
    // color: #d63384; /* 字体颜色 */
  }
  :global {
    .top-bark {
      border: 1px solid #ccc;
    }
    .copy-button:hover {
      background-color: #edf2f7;
    }
  }
}
.darkMarkdownRenderer {
  pre {
    background-color: black; /* 背景颜色 */
    border-radius: 5px; /* 圆角 */
    padding: 10px; /* 内边距 */
    overflow: auto; /* 滚动条 */
  }

  code {
    font-family: 'Courier New', Courier, monospace; /* 字体 */
  }
  :global {
    .top-bark {
      border: 1px solid #ffffff1a;
    }
    .copy-button:hover {
      background-color: #ffffff14;
    }
  }
}

.markdownRenderer {
  :global {
    .copy-button {
      cursor: pointer;
      padding: 2px 5px;
      border-radius: 4px;
    }
    .top-bark {
      display: flex;
      justify-content: space-between;
      padding: 2px 10px;
      height: 28px;
      font-size: 12px;
      // border: 1px solid #CCC;
      border-radius: 8px 8px 0 0;
    }
  }
}
