name: build

on: 
  push:
    tags-ignore:
      - '*'

env:
  VSIX_NAME: y3-helper-${{ github.sha }}.vsix

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Compile Client
        shell: bash
        run: |
          npm install
          npm install -g typescript
          tsc -p ./

      - name: Pack vsix
        shell: bash
        run: |
          npm install -g @vscode/vsce
          vsce package -o "${{ env.VSIX_NAME }}"

      - name: Upload vsix
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VSIX_NAME }}
          path: ${{ env.VSIX_NAME }}
